body {
  margin: 0;
  padding: 0;

  font-family: "Roboto-Regular";
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
  background-color: #ffffff;}

  .main-navigation {
    font-family: "Roboto-Medium";
    font-size: 17.5px;
    line-height: 31.5px;
    color: #000000;
  }
  .site-navigation,
  .user-navigation {
  list-style: none;
}
.site-navigation a:hover{
 background-color: #000000;
}
.site-navigation a:focus{
  background-color: #fb565a;
}

.applications h3 {
  font-family: "Roboto-Bold";
  font-size: 24.5px;
  line-height: 31.5px;
}
.button {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #fb565a;
  border: none;
}
.button:hover,
.button:focus,
.button:active {
  background-color: #d7373b;
}
