body {
  margin: 0;
  padding: 0;

  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
  background-color: #ffffff;}

  .main-navigation {
    font-family: "Roboto";
    font-weight: ;
    font-size: 17.5px;
    line-height: 31.5px;
    color: #000000;
  }
  .site-navigation,
  .user-navigation {
  list-style: none;
}
.site-navigation a,
.main-navigation-cart a{
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.88;
  color: #000000;
}

.site-navigation a:hover,
.main-navigation-cart a:hover,
.site-navigation a:focus,
.main-navigation-cart a:focus{
color:  #fb565a;
}
.site-navigation a:active,
.main-navigation-cart a:active{
  color: rgba(0, 0, 0, 0.3);
}
.applications h3 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24.5px;
  line-height: 31.5px;
}
.applications p {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.about-us-left h2{
  font-family: "Roboto";
  font-weight:500;
  font-size: 45.5px;
  line-height: 1;
}
.about-us-left p{
  font-family: "Roboto";
  font-weight:normal;
  font-size: 16px;
  line-height: 1.5;
}
.about-us-left h4 {
  font-family: "Roboto";
  font-weight:normal;
  font-size: 16px;
  line-height: 1.5;
}
.about-us-left ul{
  font-family: "Roboto";
  font-weight:normal;
  font-size: 16px;
  line-height: 1.5;
}
.about-us-right h4{
  font-family: "Roboto";
  font-weight:bold;
  font-size: 16px;
  line-height: 24;
  }
.data{
  font-family: "Roboto";
  font-weight:bold;
  font-size: 45px;
  line-height: 0.22;
  }
.description{
  font-family: "Roboto";
  font-weight:normal;
  font-size: 16px;
  line-height: 1.13;
  }

.button{
text-decoration: none;
display: inline-block;
padding: 19px 39px;
text-transform: uppercase;
}

.button.red {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #fb565a;
  border: none;
}
.button.red:hover{
 background-color: #fb565a;
 color:#ffffff;
}
.button.red:focus{
 background-color:#e74246
 color:#ffffff;
}
.button.red:active {
  background-color: #d7373b;
  color:rgba(255, 255, 255, 0.3);
}
.button.green {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #00ca74;
  border: none;
}
.button.green:hover{
 background-color: #00ca74;
 color:#ffffff;
}
.button.green:focus{
 background-color:#00bc6c;
 color:#ffffff;
}
.button.green:active {
  background-color:#00aa62;
  color:rgba(255, 255, 255, 0.3);
}
.button.yellow {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #efc84a;
  border: none;
}
.button.yellow:hover{
 background-color:#efc84a;
 color:#ffffff;
}
.button.yellow:focus{
 background-color:#eab534;
 color:#ffffff;
}
.button.yellow:active {
  background-color:#e5a722;
  color:rgba(255, 255, 255, 0.3);
}
/*---------------*/

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-header-logo{
  display: inline-block;
  margin-right: 202px;
  }
.site-navigation{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-navigation li{
  margin-right: 48px;
}
.site-navigation a{
  text-decoration: none;
  text-transform: uppercase;
}
.site-navigation li:last-child{
  margin-right: 0;
}
.main-navigation-cart a{
  text-decoration: none;
  text-transform: uppercase;
}
.applications-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.applications-item {
  width: 300px;
  }
.applications-item p{
  width: 240px;
}


.catalog li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.catalog-item {
  width: 360px;
  padding-right: 40px;
}
.catalog-item li:nth-child(2){
  padding-left: 940px;
}




  .map {
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
}

.footer-container {
  position: absolute;
  width: 270px;
  height: 253px;
  background-color: #ffffff;
  margin-left: 140px;
  top: 54px;
  padding-top: 55px;
  padding-left: 50px;
}

.footer-container h3 {
  font-family: "Robotobold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.footer-container p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #666666;
}

.adress-phone {
  margin-top: 20px;
  margin-bottom: 40px;
}
.social-network {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 140px;
  margin-right: 355px;
}

.logo-network {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logo-network a {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #e1e1e1;
  margin-right: 10px;
  background-position: center;
}
.be-friends {
  display: flex;
  flex-direction: column;
}

.footer-slogan {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 12px;
}

.be-friends p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
